html, body {
  margin: 0;
}

li {
  list-style: none;
}

.right-content {
  width: 100%;
}

/* tooltip styles */

.tooltip {
  border: 1px solid black;
  padding: 10px;
  display: none;
  z-index: 999;
  background: white;
}
.disabled{
  background-color: #F2F5FA;
}
.price-holder{
  color: black;
  height: 50%;
  width: 100%;
  border-radius: 2%;
  margin-top: 25%;
  display: table;
  text-align: center;
  font-size: 15px;
}
.vertical-align{
  display: table-cell;
  vertical-align: middle;
}
.calendar-area{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  display: none;
  background-color: white;
  @media screen and (max-width: 1000px){
    width: 100%;
    margin: 0;
  }
}
.calendar-head{
  width: 100%;
  background-color: #4d63b6;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
}
.cal-header{
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}
.cal-label{
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
}
.cal-select-holder{
  background-color: white;
  width: 40%;
  margin-left: 30%;
  border-radius: 5px;
  background-image: url('../../images/dropdown-arrow.svg');
  background-position: right 10px bottom 15px;
  background-size: auto 20%;
  background-repeat: no-repeat;
  text-align: left;
  color: black;
  select{
    border: none;
    padding-left: 10px;
    width: 200%;
    height: 40px;
    -webkit-appearance: none;
    font-size: 1.5em;
    background-color: transparent;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 21px;
    &:focus{
      outline: none;
    }
  }
  p{
    padding-top: 5px;
    margin: 0;
    padding-left: 10px;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 13px;
  }
}
.calendar-foot{
  min-height: 200px;
  width: 100%;
  background-color: #4d63b6;
  color: white;
  text-align: center;
  clear: both;
  position: relative;
  top: -2px;
}
#calendar-left, #calendar-right{
  font-family: 'Lato', sans-serif;
  width: calc(100% - 30px);
  @media screen and (max-width: 1000px){
    width: 100%;
  }
}
#calendar-left{
  float: right;
}
#calendar-right{
  float: left;
}
#cal-left-holder, #cal-right-holder{
  width: 50%;
  float: left;
  height: 100%;
  @media screen and (max-width: 1000px){
    width: 100%;
    clear: both;
  }
}
#cal-right-holder{
  @media screen and (max-width: 1000px){
    display: none;
  }
}
#cal-left-head, #cal-right-head{
  width: calc(100% - 30px);
  height: 35px;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  @media screen and (max-width: 1000px){
    width: 100%;
  }
}
.fc-widget-header{
  border: none;
  border-style: none !important;
  background-color: #f7f7f7;
}
#cal-left-head{
  float: right;
}
#cal-left-head p, #cal-right-head p{
  margin-top: 0;
}
#cal-holder{
  width: 100%;
  float: left;
  overflow: hidden;
  height: 100%;
}
#cal-go-left{
  width: 30px;
  background-color: #8bc832;
  display: table;
  float: left;
  height: 100%;
  @media screen and (max-width: 1000px){
    display: none;
  }
}
.cal-save{
  background-color: #8bc832;
  height: 50px;
  width: 30%;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 13px;
  color: white;
  letter-spacing: 2px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.white{
  color: white !important;
}
.arrow-left{
  background-image: url('../../images/calendar-arrow.svg');
  width: 100%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
  display: table-cell;
  &:after{
    display: block;
    content: "";
    padding-bottom: 100%;
  }
}
.arrow-right{
  background-image: url('../../images/calendar-arrow.svg');
  width: 100%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";isplay: table-cell;
  display: table-cell;
  &:after{
    display: block;
    content: "";
    padding-bottom: 100%;
  }
}
#cal-go-right{
  width: 30px;
  background-color: #8bc832;
  float: right;
  display: table;
  height: 100%;
  @media screen and (max-width: 1000px){
    display: none;
  }
}
.cal-selected{
  background-color: #4d63b6 !important;
}
.cal-selected .price-holder p{
  color: white;
}
.light-green{
  background-color: #f6fff6;
}
.check-box{
  background-color: #8bc832;
  background-image: url('../../images/calendar-check.svg');
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 1%;
  width: 3%;
  margin-top: 5px;
  margin-left: 5px;
  &:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
.phone-cal-nav{
  width: 100px;
  margin: 15px auto 0 auto;
  display: none;
  @media screen and (max-width: 1000px){
    display: block;
  }
}
.cal-nav-left, .cal-nav-right{
  height: 50px;
  width: 50px;
  background-image: url('../../images/next-month.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  float: left;
}
.cal-nav-left{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";isplay: table-cell;
}
#toggl-target{
  display: none;
}
.throbber{
  width: 10%;
  height: 10%;
  left: 45%;
  top: 200px;
}
.calendar-component{
  font-size: 12px;
}
.question-icon{
  height: 100%;
  width: 100%;
  background-size: 50% auto;
  background-image: url('../../images/calendar-icon.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.popup-info{
  width: 200px;
  padding: 10px;
  padding-bottom: 20px;
  background-image: url('../../images/tool-tip.png');
  background-size: 100% 100%;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  font-family: 'Late', sans-serif;
  font-weight: 300;
  display: none;
  top: 40%;
  left: 40%;
  z-index: 99999;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #fff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #8bc832;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #fff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #8bc832;
  }
}
.jquery-calendar-left tbody{
  border-right: 5px solid #353535;
}
