html, body {
  margin: 0;
}

.workout-list {
  padding: 5px;
}

li {
  list-style: none;
}

.workout-item {
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
}

.right-content {
  width: 100%;
}

/* tooltip styles */

.tooltip {
  border: 1px solid black;
  padding: 10px;
  display: none;
  z-index: 999;
  background: white;
}
.disabled{
  background-color: #efefef;
}
.price-holder{
  color: black;
  height: 50%;
  width: 100%;
  border-radius: 2%;
  margin-top: 25%;
  display: table;
  text-align: center;
  font-size: 2em;
}
.price-holder p{
  display: table-cell;
  vertical-align: middle;
}
.calendar-area{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  display: none;
}
.calendar-head{
  width: 100%;
  background-color: #3A59D6;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.calendar-foot{
  width: 100%;
  background-color: #3A59D6;
  color: white;
  text-align: center;
  clear: both;
}

#calendar-left{
  width: 47%;
  float: left;
}
#calendar-right{
  width: 47%;
  float: right;
}
#cal-go-left{
  width: 3%;
  background-color: #9EFF36;
  height: 550px;
  float: left;
}
.calendar-foot button{
  background-color: #9EFF36;
  height: 50px;
  width: 30%;
  border-radius: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}
#cal-go-right{
  width: 3%;
  background-color: #9EFF36;
  height: 550px;
  float: right;
}
.cal-selected{
  background-color: blue;
}
.cal-selected .price-holder p{
  color: white;
}
.light-green{
  background-color: #f6fff6;
}
